<template>
  <div>
    <div>
      <el-menu
        :default-active="activeIndex"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
      >
        <el-menu-item index="1">Processing Center</el-menu-item>
        <el-submenu index="2">
          <template slot="title">Workspace</template>
          <el-menu-item index="2-1">item one</el-menu-item>
          <el-menu-item index="2-2">item two</el-menu-item>
          <el-menu-item index="2-3">item three</el-menu-item>
          <el-submenu index="2-4">
            <template slot="title">item four</template>
            <el-menu-item index="2-4-1">item one</el-menu-item>
            <el-menu-item index="2-4-2">item two</el-menu-item>
            <el-menu-item index="2-4-3">item three</el-menu-item>
          </el-submenu>
        </el-submenu>
        <el-menu-item index="3" disabled>Info</el-menu-item>
        <el-menu-item index="4">
          <a href="https://www.ele.me" target="_blank">Orders</a>
        </el-menu-item>
      </el-menu>
    </div>
    <div class="sidebar">
      <el-menu
        :default-active="onRoutes"
        class="el-menu-vertical-demo"
        theme="light"
        unique-opened
        router
      >
        <el-menu-item index="/hello">
          <i class="el-icon-menu"></i>
          <span>Hello</span>
        </el-menu-item>
        <el-menu-item index="/home">
          <i class="el-icon-menu"></i>
          <span>Home</span>
        </el-menu-item>
      </el-menu>
    </div>
    <div class="v-scroll container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          icon: "el-icon-setting",
          index: "/home",
          title: "首页"
        },
        {
          icon: "el-icon-menu",
          index: "2/",
          title: "用户管理",
          subs: [
            {
              index: "/users",
              title: "用户列表"
            }
          ]
        }
      ]
    };
  },
  beforeMount() {
    var meuns = sessionStorage.getItem("meuns");
    var qs = require("qs");
    this.items = qs.parse(meuns);
  },
  computed: {
    onRoutes() {
      console.log(this.$route.path);
      return this.$route.path;
    }
  }
};
</script>

<style scoped>
.sidebar {
  display: block;
  position: absolute;
  width: 200px;
  left: 0;
  top: 70px;
  bottom: 0;
}

.container {
  height: 100vh;
  bottom: 0;
  right: 0;
  top: 70px;
  display: block;
  position: absolute;
  left: 200px;
}
.sidebar > ul {
  height: 100%;
}

.v-scroll {
  overflow: scroll;
}
</style>